# temporary files
.idea
.vs
.vscode
.DS_Store
__pycache__/
.python-version
.ruff_cache

.benchmarks
.pytest_cache/

nltk_data

# configs
.env.example

# modules
node_modules
dist
dist-ssr
coverage
*.local
.venv
venv

# logs
logs
*.log
.log*

# local data
storage
*.mp3
*.pcm
tests/resources

# other files
rag/res
