pdfplumber
huggingface_hub
pycryptodomex
cachetools
ruamel.yaml
strenum
six
opencv-python
onnxruntime
shapely
pyclipper
tiktoken
datrie
hanziconv
nltk
roman_numbers
word2number
cn2an
chardet
python-pptx
aspose-slides
PyPDF2
pypdf
xgboost
trio
pandas
python-docx
openpyxl
readability
html_text
markdown
demjson3
xpinyin
jinja2
tika
bs4